soundfile==0.12.1
torchaudio==2.4.0
munch==4.0.0
torch==2.4.0
pydub==0.25.1
PyYAML==5.3.1
librosa==0.10.2.post1
nltk==3.8.1
matplotlib==3.7.5
matplotlib-inline==0.1.7
accelerate==0.33.0
transformers==4.43.4
einops==0.8.0
einops-exts==0.0.4
tqdm==4.66.5
typing==3.7.4.3
typing_extensions==4.12.2
monotonic_align @ git+https://github.com/resemble-ai/monotonic_align.git@78b985be210a03d08bc3acc01c4df0442105366f
pandas==2.0.3
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
notebook==7.2.1
notebook_shim==0.2.4